<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experience Visual Difficulty</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container-1">
      <div class="base-layer">
        <h1 class="title">Vis-Aid</h1>
      </div>
      <div class="second-layer">
        <h3 class="subtitle">Transformed Images</h3>
        <p class = "sub-subtitle">Click on the Image to View in Full Screen</p>
        <div class="gallery">
          {% for index in range(image_urls|length) %}
          <a href="/image/{{ index }}?image_url={{ image_urls[index] }}"
            ><img src="{{ image_urls[index] }}" alt="Image"
          /></a>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
